<app-layout
  renderMode=input.renderMode
  showHeader
  showSections
>
  <@head>
    <title>Progressive Rendering using Marko</title>
  </@head>
  <@body>
    <app-main renderMode=input.renderMode/>
  </@body>
</app-layout>
