class {
    onMount() {
        const mainMessage = this.getEl('main-message');
        mainMessage.innerHTML = 'Behavior Attached (click me)';
    }
    click() {
        const mainEl = this.getEl('main');
        const mainMessage = this.getEl('main-message');
        mainEl.style.backgroundColor = '#2c3e50';
        mainMessage.innerHTML = 'Clicked!';
    }
}

<main key="main" once-click('click')>
    <h2>${input.name}</h2>
    <span key="main-message">
        &nbsp;
    </span>
</main>
