<header>
    <h1>Progressive Rendering using Marko</h1>
    <a
        href="https://github.com/dsathyakumar/marko-progressive-renders"
        target="_blank"
    >
        View code on GitHub
    </a>
</header>
